[Unit]
Description=Backup Dashboard databases

[Service]
Type=oneshot
ExecStart=%h/bin/backup-dashboard
StandardOutput=append:%h/backups/dashboard.log
StandardError=append:%h/backups/dashboard.log
