[Unit]
Description=Backup Tumblepop databases

[Service]
Type=oneshot
ExecStart=%h/bin/backup-tumblepop
StandardOutput=append:%h/backups/tumblepop.log
StandardError=append:%h/backups/tumblepop.log
