[Unit]
Description=Omarchy Automatic Wallpaper Rotation Timer
After=graphical-session.target

[Timer]
OnBootSec=1min
OnCalendar=*:0/30
Persistent=true

[Install]
WantedBy=timers.target
