[Unit]
Description=Serial fiction generation for %i

[Service]
Type=oneshot
WorkingDirectory=/home/jmckible/dev/serial
ExecStart=/home/jmckible/dev/serial/bin/generate %i
StandardOutput=append:/home/jmckible/dev/serial/log/generate.log
StandardError=append:/home/jmckible/dev/serial/log/generate.log
